body {
  overflow-x: hidden;
  background-color: #454545;
}

#experiences-add {
    margin-top: 82px;
}

#experiences-add form {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}

#experiences-add form input {
    background-color: #454545;
    border: none;
    color: white;
}

#experiences-add form input::placeholder {
    color: rgb(166, 166, 166);
}