nav {
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.041);
}

nav .collapse {
    display: flex;
    justify-content: space-between;
}

img {
    object-fit: cover;
}

@media(max-width: 576px) {
    .menu {
        justify-content: start;
    }

    .menu ul li {
        margin-bottom: 10px;
    }
}

@media(max-width: 992px) {
    nav .collapse {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}